body {
  font-family: monospace;
  font-size: 15px;
}

.scrum-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.scrum-title {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-color: #e4e5e5;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.scrum-item {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  padding: 10px;
  border: 1px solid black;  
}

.push {
  float: right;
  font-weight: bold;
  padding: 3px 3px 0px 3px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1px;
}

#add-buffer {
  padding: 10px;
  margin: 3px 0px;
  font-weight: bold;
  cursor: pointer;
}

#add-buffer:hover {
  text-decoration: underline;
}
